@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.2s linear;
}

body {
  min-height: 100vh;
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  overflow: hidden; /* add this to prevent password container from overflowing */
}

.container h3 {
  font-size: 25px;
  color: #334;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

.container .password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 10px 0;
  background-color: #f7f7f7;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container .password-container span {
  font-size: 20px;
  color: #334;
  flex: 1;
}

.container .password-container #copy-btn {
  cursor: pointer;
  color: #666;
  font-size: 20px;
  margin-left: 10px;
}

.container .password-container #copy-btn:hover {
  color: #334;
}

.container .options {
  padding: 20px;
}

.container .options .list {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .options .list label {
  font-size: 16px;
  color: #666;
  user-select: none;
  margin-right: 10px;
}

.container .options .list input[type="checkbox"] {
  appearance: none;
  height: 15px;
  width: 15px;
  border: 2px solid #334;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.2s linear;
}

.container .options .list input[type="checkbox"]:checked {
  border-radius: 50%;
  background-color: #334;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #334;
}

.container .options .list input[type="number"] {
  border: 2px solid #334;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  width: 55px;
}

.container .options #generate-btn {
  margin-top: 10px;
  background-color: #ff69b4; /* changed to a more vibrant color */
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s linear;
}

.container .options #generate-btn:hover {
  opacity: 0.9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* added some animations and hover effects */
.container .options #generate-btn:active {
  transform: scale(0.98);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.container .password-container #copy-btn:active {
  transform: scale(0.98);
}